@charset "utf-8";
body{
	font-family:"微软雅黑";
}
section>p,.datails{
	width:835px;
	margin:0px auto;
}

section>p{
	font-size:14px;
	color:#393939;
	line-height:25px;
	text-indent:28px;
	margin-bottom:24px;
	}

.datails img{
	width:750px;
	margin:0px auto;
}




















