@charset "utf-8";

.min_map{
	margin-bottom:0px;
}
.world_banner{
	width:100%;
}

.world_banner p{
	display: -webkit-box; 
    display: -moz-box; 
    display: -webkit-flex; 
    display: -moz-flex; 
    display: -ms-flexbox;
    display: flex;
}
.world_banner p a{
	display:block;
	width:33.3%;
	height:40px;
	line-height:34px;
	background:#0B2F49;
	text-align: center;
	font-size:14px;
	color:white;
	font-weight:bold;
	border-right:1px solid #007FDA;
	border-top:3px solid #0B2F49;
	position:relative;
}
.world_banner p a:first-of-type{
	background: white;
	border-top:3px solid #007FDA;
	color:#0081D9;
}
.world_banner p a:last-of-type{
	border-right: 0px;
}
.world_banner p a:before{
	display:block;
	width:0;
	top:-3px;
	height:3px;
	position:absolute;
	content:"";
	background:#007FDA;
	transition:width .5s ease-in-out;
}
.world_banner p a:hover:before{
	width: 100%;
}
.world{
	width:835px;
	margin:50px auto;
	text-align:center;
	margin-bottom:100px;
	
}

.world h2{
	height:22px;
	line-height:22px;
	font-size:22px;
	color:#393939;
	margin-bottom:21px;
}
.world p{
	font-size:14px;
	color:#393939;
	line-height:30px;
}
.world2 p{
	text-align:left;
	text-indent: 28px;
}
.world2 h2{
	margin:40px auto;
}
.world2,.world3 img{
	margin:20px auto;
	padding-bottom:20px;
}

.world3 h2{
	margin:40px auto;
}
.world3 p{
	text-align:left;
	text-indent: 28px;
}

.world3 h4{
	text-align:left;
	line-height:26px;
	margin:20px auto;
	font-size:18px;
}





























